{% extends 'shop/base.html' %}

{% block content %}

<section class="page-header">
    <h1>Book Appointment</h1>
    <p>Reserve your spot today.</p>
</section>

<div class="container py-5">
    <div class="booking-card">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Name</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                {{ form.email }}
            </div>

            <div class="mb-3">
                <label class="form-label">Phone</label>
                {{ form.phone }}
            </div>

            <div class="mb-3">
                <label class="form-label">Service</label>
                {{ form.service }}
            </div>

            <div class="mb-3">
                <label class="form-label">Barber</label>
                {{ form.barber }}
            </div>

            <div class="mb-3">
                <label class="form-label">Date</label>
                {{ form.date }}
            </div>

            <div class="mb-3">
                <label class="form-label">Time</label>
                {{ form.time }}
            </div>

            <div class="mb-3">
                <label class="form-label">Message</label>
                {{ form.message }}
            </div>

            <div class="mb-4">
                <label class="form-label fw-bold">Payment Method</label>

                <select name="payment_method" class="form-select" required>
                    <option value="">Choose payment method</option>
                    <option value="cash">Cash - Pay at salon</option>
                    <option value="zelle">Zelle - Pay at Salon or Online</option>
                </select>
            </div>

            <button type="submit" class="btn btn-gold w-100">
                Book Now
            </button>
        </form>
    </div>
</div>

{% endblock %}