
{% extends 'shop/base.html' %}
{% load i18n %}

{% block content %}

<section class="page-header">
    <h1>{% trans "Contact Us" %}</h1>
    <p>{% trans "Visit us or send us a message." %}</p>
</section>

<div class="container py-5">
    <div class="premium-card">
        <h3>{% trans "FreshCut Barber Shop" %}</h3>

        <p>
            <strong>{% trans "Address:" %}</strong>
            123 Holt Street Pomona, CA
        </p>

        <p>
            <strong>{% trans "Phone:" %}</strong>
            (555) 123-4567
        </p>

        <p>
            <strong>{% trans "Email:" %}</strong>
            freshcut@example.com
        </p>

        <p>
            <strong>{% trans "Hours:" %}</strong>
            {% trans "Tue - Fri: 9:00 AM - 7:00 PM" %}
            {% trans "Sat: 9:00 AM - 5:00 PM" %}
        </p>
    </div>
</div>

{% endblock %}