{% extends 'shop/base.html' %}
{% load i18n %}

{% block content %}

<div class="container py-5">
    <div class="card shadow border-0 rounded-4 p-4">

        <h1 class="fw-bold mb-4">{% trans "New Appointment" %}</h1>

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-dark">
                {% trans "Save Appointment" %}
            </button>

            <a href="{% url 'shop:appointments' %}" class="btn btn-secondary">
                {% trans "Back" %}
            </a>
        </form>

    </div>
</div>

{% endblock %}