{% extends 'shop/base.html' %}

{% block content %}

<section class="page-header">
    <h1>Our Services</h1>
    <p>Choose the cut that fits your style.</p>
</section>

<div class="container py-5">
    <div class="row g-4">

        <div class="col-md-4">
            <div class="premium-card">
                <h4>Haircut</h4>
                <p>Clean and professional haircut.</p>
                <h5>$30</h5>
            </div>
        </div>

        <div class="col-md-4">
            <div class="premium-card">
                <h4>Fade</h4>
                <p>Sharp skin fade, low fade, mid fade, or high fade.</p>
                <h5>$35</h5>
            </div>
        </div>

        <div class="col-md-4">
            <div class="premium-card">
                <h4>Beard Trim</h4>
                <p>Shape, line-up, and clean beard finish.</p>
                <h5>$20</h5>
            </div>
        </div>

    </div>
</div>

{% endblock %}